@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: rgb(5, 57, 82);
  color: whitesmoke;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.tile {
  text-align: center;
}
.amudim {
  width: 200px;
  height: 350px;
  background-color: whitesmoke;
  transition: transform 0.2s;
}
.amudim:hover {
  transform: scale(1.05);
}
.amudTitle {
  max-width: 200px;
  letter-spacing: 0.1em;
  line-height: 0.3em;
}
.div-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #7a7c72;
  margin: 0;
  padding: 0;
}
