@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: rgb(5, 57, 82);
  color: whitesmoke;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}
.header-container {
  text-align: center;
}
.header-container h1 {
  padding-bottom: 0.1rem;
}
.div-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #7a7c72;
  margin: 0;
  padding: 0;
}
.div-line-small {
  max-width: 300px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.tileCard {
  background-color: blueviolet;
  text-align: center;
}
.innerCard {
  text-align: center;
}
.tile {
  text-align: center;
}
.amud {
  width: 200px;
}
.scale {
  transition: transform 0.2s;
}
.scale:hover {
  transform: scale(1.05);
}
.amudTitle {
  max-width: 200px;
  letter-spacing: 0.1em;
  line-height: 0.3em;
}
